<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/custom.css">
    <title>To-The-Max Music Player!</title>
    <script src="../static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/music.js"></script>
</head>
<body background="/static/css/COLOURlovers.com-Navaho.png">
    <div>
    <aside id="a1">
        <h2> Queue </h2>
    </aside>

        <h1 align="center"> Music to the MAX! </h1>
        <h2 align="center" id="currently_playing"> </h2>
        <table class="table" id="songs">
            <thead>
                <tr>
                    <th width=60%>Song</th>
                    <th>Play</th>
                    <th>Pause</th>
                    <th>Stop</th>
                    <th>Queue</th>
                    <th>Play next</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>

<!-- The icon for the play button was created by Freepik from flaticon.com-->
<!-- The icon for the play_1 button was created by Yannick from flaticon.com-->
<!-- The icon for the play_2 button was created by Icon Works from flaticon.com-->
